{% extends "shortener/base.html" %}
{% block content %}
<div class="container">
    <div class="row"></div>
        <div class='text-center' >
            <h1 style="color: white">{{ title }}</h1>
            <div class="col-sm-offset-4-text-center ">
                <form method="post" action="."> {% csrf_token %}
                        {{ form.as_p }}
                        <input class="btn btn-primary" type="submit" value="shorten">
                </form>
        </div>
        </div>
    </div>
</div>
{% endblock content %}